
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color: #6f7364;
    height: 308px;
    color: white;
}
.msg {
    background-color: #6f7364;
    text-align: center;
    color: white;
}
footer p {
    font-size: 1.2em;
    
} 
footer p a:hover a:link {
    text-decoration: underline;
    color: #c6b4a4;
}
.home-grid {
    text-align: center;
}
footer {
    background-color: #6f7364;  
    color: #c6b4a4;
}
