*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}
form {
    width: 450px;
    height: 400px;
    margin: auto;
    background: rgba(37, 43, 45, 0.827);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 80px;
    border-radius: 9px;  
     
}
/*#medio{
   height: 450px;
   width: 100%; 
}*/
h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}
h3 {
    color: rgb(16, 67, 109);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea {
    min-height: 70px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width:480px ) {
    form {
        width: 100%;
    }
}
/*----------------------------*/