* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h5{
    text-align: right;
    padding-right: 10px;
    color: #c8a415;
}
a{
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    min-height: 70px;
    background-color: #284b63;
    justify-content: space-between;
    align-items: center;
    padding: 10px;      
}

.logo {
    display:flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 10px;  
}
nav a{
    font-weight: 800;
    padding-right: 10px;
}
.position a:hover{    
    color: aquamarine;     
}
div .position a {
    text-align: center; 
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  1fr 1fr  1fr;
    margin-top: -1px; 
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 3/4;
    
    z-index: 1;
}
#hero-img{
    width: 100%; 
}
#hero-msg a{
    color: white;
}
.home-title{
    font-family: 'Lato', 'Bradley Hand', sans-serif;
    font-size: 2em;
    color: white;
    margin-top: 0px;
    grid-column: 2/4;
    grid-row: 1/2;
}
h1, h4 {
    text-align: center;
    color: white;
    
}
.book  {
    background-color: #BFD8BD;
    text-align: center;
    padding: 15px 30px;
    
}
div .button-box{
    text-align: center;
    margin-top: 50px; 
}

.msg {
    background-color: #6f7364;
    text-align: center;
    color: white;
    line-height: 1.5em;
    padding: 15px 30px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}


footer  {
    background-color: #284b63;
    color: white;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*grid-column: 1/2;
    grid-row: 1/2;*/
}

@media(max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    h5{
        padding: 10px 0px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
}