*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteitemcarrusel{
    border: 5px solid black;
    height: 200px;
    overflow: hidden;
}

.itemcarrusel {
    border: 1px solid black;
    height: 200px;
    position: relative;
}

.tarjetacarrusel {
    height: 100%;
}

.flechacarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#tarjetacarrusel-1 {
    background-color: rgb(186, 239, 62);
}
#tarjetacarrusel-2 {
    background-color: rgb(231, 68, 122);
}
#tarjetacarrusel-3 {
    background-color: rgb(120, 231, 250);
}

a{
    text-decoration: none;
    padding: 10px;
    color: black;
}

#contepuntos{
    background-color: rgb(237, 243, 245);
    display: flex;
    justify-content: space-around;
}
#contepuntos {
    font-size: 1.0m;
}